@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");

:root {
  --text: #ffffff;
  --background: #020303;
  --primary: #00ff00;
  --secondary: #201c26;
  --accent: #837599;
  --border-color: #808080;

  --fruit: red;
  --player: #00ff00;
  --opponents: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
  /*border: 1px solid #8a2be2;*/
}

html,
body {
  min-width: 375px;
  min-height: 667px;
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Cinzel", serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
  text-align: center;
}

header {
  display: flex;
  z-index: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  height: 5%;
}

header > h1 {
  text-align: center;
  color: var(--text);
  margin: 5px;
  font-size: 2rem;
}

#screen {
  z-index: 9;
  border: 1px solid var(--border-color);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

#score-table {
  vertical-align: top;
  display: inline-block;
  margin-bottom: 7vh;
  max-height: 200px;
  font-family: "Cinzel", serif;
}

#score-table #scoretableTitle {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  font-size: 0.8rem;
}

#score-table #scoretablePoints {
  border-bottom: 1px solid #ccc;
}

#score-table td {
  padding-top: 5px;
  padding-bottom: 5px;
}

#score-table .socket-id {
  font-weight: normal;
  color: #222;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

#score-table .score-value {
  font-weight: bold;
  color: #000;
  text-align: right;
}

#score-table .current-player .socket-id,
#score-table .current-player .score-value {
  color: #bdaa27;
}

@media screen and (min-width: 1024px) {
}
